
.cards{
  display: flex;
  gap: 24px;
  margin: right 24px;
  flex-wrap: wrap;
}

.cards:nth-child(even){
  margin-right: 24px;
}


.card{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
 
  width: 520px;
  height: 464px;
  background: rgba(4, 24, 50, 0,16);
  
  

  
}

.card__externo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 520px;
  height: 288px;
  background: green;
  border-radius: 8px;

}

.card__interno{
  display: flex;
  justify-content:center;
  align-items: center;
  width:472px;
  height:240px; 
  border-radius: 8px;
  background-color: black;
 
}

.card__codigo{
 align-items: center;
 justify-content: center;
 width: 440px;
 height:195px;
 background-color: black;
 
}

.card__textos{
  display: grid;
  grid-template-columns: 260px 260px;
  grid-template-rows: 1fr 1fr 1fr;
}

.card__titulo{
  grid-column: 2 span;
  grid-row: 1;
  font-size: 21px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 31px;
  padding: 0 24px 0 24px;
}

.card__descricao{
  grid-column: 2 span;
  grid-row: 2;
  font-family: Inter;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  color:  #FFFFFF;;
  opacity: 0.8;
  margin-top: none;
  padding: 0 24px 0 24px;
}

.card__comentario,.card__likes{
  grid-column: 1;
  grid-row: 3;
  font-family: Inter;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  padding: 0 24px 0 24px;
  
 
  
  
}

.card__comentario{
  margin-left: 64px;
}

.card__likes{
  margin-left: 132px;

}

.card__usuario{
  grid-column: 2;
  grid-row: 3;
  margin-left: 200px;
  font-family: Inter;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  
 

}