body{
    background-color: #051D3B;
}

h2{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    color: #FFFFFF;

}


.principal{
    display: flex;
    margin-left: 32px;
    margin-right: 32px;
}

