
/*************************************************************/
/**********************Menu Esquerdo***************************/
/*************************************************************/



.menu__esquerdo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 22px;
    
    
}

.menu__esquerdo a {
    text-decoration: none;
}
.icone{
    transform:translate(70%,100%);
} 



.menu__esquerdo p{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
    
}
.quadrado{
    width: 48px;
    height: 48px;
    border-radius: 16px;
    
}

.principal__codigo{
    display: flex;
    align-items: center;

    
}
.principal__codigo-img{
    background-color: #6BD1FF;
    margin-right: 15px;

}



.principal__comunidade{
    display: flex;
    align-items: center;
    
    
}
.principal__comunidade-img{
     background-color: rgba(80, 129, 251, 0.16);
     margin-right: 15px;
     opacity: 0.6;
          
     
}

